@import "../styles/Fonts.css";

.clipboard-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.clipboard-popup-container {
  position: relative;
  width: 350px;
  padding: 20px;
  padding-top: 16px;
  background: linear-gradient(
    135deg,
    rgba(106, 27, 154, 0.8),
    rgba(49, 27, 146, 0.8),
    rgba(26, 35, 126, 0.8)
  );
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.clipboard-popup-content {
  text-align: center;
  color: #fff;
  font-family: "JetBrainsMonoNerdFont", sans-serif;
}

.clipboard-popup-title {
  margin-bottom: 20px;
  font-size: 24px;
}

.clipboard-popup-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.clipboard-popup-button {
  width: 80px;
  padding: 10px;
  border: 1px solid #adbce6;
  background-color: #adbce6;
  border-radius: 3px;
  color: #111;
  font-family: "JetBrainsMonoNerdFont", sans-serif;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.clipboard-popup-button:hover {
  opacity: 1;
  filter: drop-shadow(5px 5px 5px #222) brightness(0.9) sepia(2) hue-rotate(0deg) saturate(5);
}
