.gallery-container-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
}

.gallery-container img {
  width: 210px;
  height: auto;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.gallery-text {
  margin-top: -242px;
  margin-bottom: 36px;
}

.gallery-text-load {
  margin-top: -256px;
  margin-bottom: 42px;
}
