.gallery-container-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  margin: 0 auto;
}

.gallery-container img {
  width: 210px;
  height: auto;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.gallery-container img:hover {
  opacity: 1;
  filter: drop-shadow(5px 5px 5px #222) brightness(0.9) sepia(2) hue-rotate(0deg) saturate(5);
}

.gallery-text {
  margin-top: 20px;
  margin-bottom: 36px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.gallery-text-load {
  margin-top: 20px;
  margin-bottom: 42px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
