#homeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    135deg,
    rgba(106, 27, 154, 0.8),
    rgba(49, 27, 146, 0.8),
    rgba(26, 35, 126, 0.8)
  );
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}

#buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  margin-top: 18px;
}

#gridContainer,
.galleryContainer,
.loadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
  overflow-y: hidden;
  flex-grow: 1;
}

.galleryContainer,
.loadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  overflow-y: hidden;
  flex-grow: 1;
}

#footerText {
  margin-top: -5px;
  padding: 10px 0;
  height: 24px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#recButton {
  width: 48px;
  height: auto;
  cursor: pointer;
  animation: flash 2s infinite;
  z-index: 10;
}

#playButton {
  width: 48px;
  height: auto;
  cursor: pointer;
  z-index: 10;
}

#stopButton {
  width: 48px;
  height: auto;
  cursor: pointer;
  z-index: 10;
}

#joinButton {
  width: 48px;
  height: auto;
  cursor: pointer;
  z-index: 10;
}

#twitterButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 64px;
  height: auto;
  cursor: pointer;
  z-index: 10;
}

#redditButton {
  position: fixed;
  bottom: 20px;
  right: 100px;
  width: 64px;
  height: auto;
  cursor: pointer;
  z-index: 10;
}

#clickText {
  margin: 15px 0;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

@media (max-width: 915px) {
  :root {
    --grid-size: 18px;
  }

  #navbarLogo {
    width: 60vw;
  }

  #resetGrid,
  #saveGrid {
    width: 12vw;
  }

  #clickText,
  #footerText {
    width: 50vw;
  }
}

@media (max-width: 480px) {
  :root {
    --grid-size: 12px;
  }

  #navbarLogo {
    width: 60vw;
  }
}

@media (max-width: 375px) {
  :root {
    --grid-size: 10px;
  }
}
