#menuBarHeader {
  min-width: 100vw;
  align-self: stretch;
  background-color: #333;
  color: white;
  text-align: center;
  background: linear-gradient(
    135deg,
    rgba(26, 35, 126, 0.8),
    rgba(49, 27, 146, 0.8),
    rgba(106, 27, 154, 0.8)
  );
  padding: 10px 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#menuBarNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  min-width: 100vw;
  align-self: stretch;
  background-color: #333;
  color: white;
  text-align: center;
  background: linear-gradient(
    135deg,
    rgba(26, 35, 126, 0.8),
    rgba(49, 27, 146, 0.8),
    rgba(106, 27, 154, 0.8)
  );
  padding: 10px 0;
}

#shareGrid {
  width: 72px;
  height: auto;
  cursor: pointer;
  margin-bottom: 2px;
  margin-left: -5px;
  margin-right: 5px;
}

#multiplayerGrid {
  width: 80px;
  height: auto;
  cursor: pointer;
  margin-bottom: -2px;
}

#loadGrid {
  width: 76px;
  height: auto;
  cursor: pointer;
}

#saveGrid {
  width: 80px;
  height: auto;
}

#resetGrid {
  width: 72px;
  height: auto;
  margin-bottom: 1px;
  margin-right: 5px;
}

#downloadGrid {
  width: 73px;
  height: auto;
  margin-left: -5px;
  /* margin-bottom: 2px; */
}

#homeGrid {
  width: 73px;
  height: auto;
  margin-left: -1px;
  margin-bottom: 2px;
  margin-right: 5px;
}

#galleryGrid {
  width: 73px;
  height: auto;
  margin-right: 5px;
}

#pencilGrid {
  width: 73px;
  height: auto;
  /* margin-right: 2px; */
  margin-bottom: 3px;
  margin-left: 4px;
}

#signInGrid {
  width: 80px;
  height: auto;
  margin-left: -5px;
  margin-top: 2px;
}

#signOutGrid {
  width: 75px;
  height: auto;
  margin-left: -2px;
  margin-bottom: -1px;
  margin-top: 8px;
}

#eraserGrid {
  width: 72px;
  height: auto;
  margin-right: 5px;
  /* margin-left: -2px; */
}

#undoGrid,
#redoGrid {
  width: 75px;
  height: auto;
}

#saveGrid,
#homeGrid,
#undoGrid,
#redoGrid,
#redditButton,
#twitterButton {
  cursor: pointer;
  transition: opacity 0.3s ease;
  margin: 0px 5px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}


#pencilGrid {
  cursor: pointer;
  transition: opacity 0.3s ease;
  /* margin: 2px 5px; */
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#homeGrid {
  cursor: pointer;
  transition: opacity 0.3s ease;
  margin: 2px 5px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#downloadGrid,
#shareGrid {
  cursor: pointer;
  margin-bottom: 2px;
  transition: opacity 0.3s ease;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#multiplayerGrid,
#downloadGrid,
#loadGrid,
#signInGrid,
#signOutGrid,
#resetGrid,
#galleryGrid,
#eraserGrid {
  cursor: pointer;
  margin-bottom: 2px;
  transition: opacity 0.3s ease;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#resetGrid:hover,
#saveGrid:hover,
#footerText:hover,
#loadGrid:hover,
#downloadGrid:hover,
#homeGrid:hover,
#galleryGrid:hover,
#accountGrid:hover,
#undoGrid:hover,
#redoGrid:hover,
#redditButton:hover,
#twitterButton:hover,
#multiplayerGrid:hover,
#eraserGrid:hover,
#signInGrid:hover,
#signOutGrid:hover,
#shareGrid:hover,
#pencilGrid:hover {
  opacity: 1;
  filter: drop-shadow(5px 5px 5px #222) brightness(0.9) sepia(2) hue-rotate(0deg) saturate(5);
}

#navbarLogo {
  /* margin: 0 10px; */
  /* margin-bottom: -10px; */
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 6;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext-load {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 6;
  top: 100%;
  left: 50%;
  margin-bottom: -0.5px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext,
.tooltip:hover .tooltiptext-load {
  visibility: visible;
  opacity: 1;
}
